---
import Layout from "../layouts/Layout.astro";
import Section from "../components/blocks/Section.astro";
import ContactForm from "../components/blocks/ContactForm.astro";
const formAction = "https://formspree.io/f/your_form_id";
---

<Layout>
  <fragment slot="head">
    <title>Contact • Your Business</title>
    <meta name="description" content="Get a same-day website quote." />
    <link rel="canonical" href="/contact" />
  </fragment>

  <main id="main">
    <Section title="Contact">
      <ContactForm formAction={formAction} includePhone={true} />
    </Section>
  </main>
</Layout>
